@-ms-viewport {
  width: device-width;
  initial-scale: 1; }

@-moz-viewport {
  width: device-width;
  initial-scale: 1; }

@-webkit-viewport {
  width: device-width;
  initial-scale: 1; }

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

video,
audio,
canvas {
  display: inline-block; }

span {
  display: inline-block; }

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0; }

a,
button,
[type="button"],
[type="submit"] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none; }

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit; }

p {
  margin: 0; }

b,
strong {
  font-weight: 900; }

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

img {
  image-rendering: optimizeQuality; }

svg {
  color: inherit; }
  svg:not(:root) {
    overflow: hidden; }

progress {
  vertical-align: baseline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0; }

ul,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none; }

input,
select,
button,
button > *,
a > * {
  display: inline-block;
  vertical-align: middle; }

button,
label,
select,
summary,
[type="button"],
[type="submit"],
[type="reset"],
[type="checkbox"],
[type="radio"],
[type="range"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

[type="button"],
[type="submit"],
[type="search"],
[type="radio"],
[type="range"],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff; }

::-webkit-details-marker {
  display: none; }

[type="radio"] {
  -webkit-appearance: radio; }

[type="number"] {
  -moz-appearance: textfield; }

::-ms-clear,
::-ms-reveal {
  display: none; }

input,
textarea {
  width: 100%; }

input {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

textarea {
  overflow: auto;
  resize: none; }

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0; }

:disabled {
  pointer-events: none; }

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0; }

::placeholder,
::-moz-placeholder {
  opacity: 1; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0;
  text-align: center; }

article p:not(:empty) {
  margin-top: 0.7em;
  margin-bottom: 0.7em; }

article img,
article embed,
article object,
article iframe,
article video {
  display: block;
  margin: auto; }

article span {
  display: inline; }

article ul,
article ol,
article menu {
  margin-top: 0.7em;
  margin-bottom: 0.7em; }
  article ul ul,
  article ul ol,
  article ul menu,
  article ol ul,
  article ol ol,
  article ol menu,
  article menu ul,
  article menu ol,
  article menu menu {
    margin: 0;
    padding-left: 1.3em; }
  article ul > li:before,
  article ol > li:before,
  article menu > li:before {
    margin-right: 0.7em; }
  article ul > li p,
  article ol > li p,
  article menu > li p {
    display: inline; }

article ul > li:before,
article menu > li:before {
  content: "";
  width: 0.4em;
  height: 0.4em;
  display: inline-block;
  vertical-align: 10%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000; }

article ul > li li:before,
article menu > li li:before {
  background: transparent; }

article ol {
  counter-reset: count; }
  article ol > li:before {
    content: counter(count) ".";
    counter-increment: count; }

html {
  font-family: "Rubik", sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1,5; }
  @media (min-width: 420px) {
    html {
      font-size: 24px;
      font-size: calc( 0.008 * 100vw + 8.64px); } }
  @media (min-width: 1920px) {
    html {
      font-size: 24px; } }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden; }

.footer {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

a {
  display: inline-block;
  vertical-align: middle; }

.container {
  position: relative;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 4.1666rem;
  z-index: 1; }

img {
  display: inline-block;
  max-width: 100%; }

@media (max-width: 420px) {
  .hero__logo img {
    max-width: 70%; } }

/*helpers*/
.center {
  text-align: center; }

.medium {
  color: #8c8c8ce7; }

/*typografy*/
.section__title {
  font-size: 28px;
  margin-bottom: 1.5em;
  font-weight: 900;
  line-height: 1.25em; }
  @media (min-width: 420px) {
    .section__title {
      font-size: 72px;
      font-size: calc( 0.02933 * 100vw + 15.68px); } }
  @media (min-width: 1920px) {
    .section__title {
      font-size: 72px; } }
  .section__title span {
    color: #00d4d4; }

.section__title--min {
  font-size: 28px;
  margin-bottom: 1.5em;
  font-weight: bold; }
  @media (min-width: 420px) {
    .section__title--min {
      font-size: 45px;
      font-size: calc( 0.01133 * 100vw + 23.24px); } }
  @media (min-width: 1920px) {
    .section__title--min {
      font-size: 45px; } }

.section__subtitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 1em; }
  @media (min-width: 420px) {
    .section__subtitle {
      font-size: 30px;
      font-size: calc( 0.012 * 100vw + 6.96px); } }
  @media (min-width: 1920px) {
    .section__subtitle {
      font-size: 30px; } }

p {
  line-height: 1.5; }
  @media (max-width: 420px) {
    p {
      font-size: 12px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .row--rewerse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    @media (max-width: 420px) {
      .row--rewerse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }

.col {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 141px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 42%;
  flex: 0 1 42%; }
  .col-text {
    max-width: 642px;
    min-width: 250px; }
    @media (max-width: 420px) {
      .col-text {
        max-width: 250px;
        margin: 0 auto; } }
  @media (max-width: 420px) {
    .col {
      -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 100% !important;
      flex: 1 1 100% !important;
      min-height: auto; } }
  .col-right {
    margin-left: auto; }
    @media (max-width: 420px) {
      .col-right {
        margin: 0 auto; } }
  .col-left {
    margin-right: auto; }
    @media (max-width: 420px) {
      .col-left {
        margin: 0 auto; } }
  .col--pic {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
    @media (max-width: 420px) {
      .col--pic {
        position: relative;
        margin-bottom: 30px; } }
    .col--pic img {
      display: block;
      margin: 0 auto;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
      @media (max-width: 420px) {
        .col--pic img {
          height: auto; } }
    .col--pic.left {
      margin-right: auto;
      right: 108%; }
      @media (max-width: 420px) {
        .col--pic.left {
          right: auto; } }
    .col--pic.right {
      margin-left: auto;
      left: 108%; }
      @media (max-width: 420px) {
        .col--pic.right {
          left: auto; } }
  .col-40 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%; }
  .col-60 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%; }

.hero {
  background-image: url(../../img/hero/hero__bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  padding: 0 0 8.3333rem;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%); }
  @media (max-width: 420px) {
    .hero {
      background-image: url(../../img/hero/hero__bg--mob.png);
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 0 90%);
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 0 90%); } }
  .hero__img {
    -webkit-filter: drop-shadow(-2.41666em 3.20833em 0 #000);
    filter: drop-shadow(-2.41666em 3.20833em 0 #000); }
    @media (max-width: 420px) {
      .hero__img {
        display: none; } }
  .hero__header {
    padding: 3.41666rem 0 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; }
    @media (max-width: 420px) {
      .hero__header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 3.41666rem 0 9.333rem; } }
  .hero__main {
    font-family: 'Exo 2', sans-serif;
    color: #fff; }
  .hero__menu {
    max-width: 100px;
    width: 100%; }
    .hero__menu__line--white {
      width: 100%;
      height: 0.333rem;
      background-color: #fff; }
    .hero__menu__line--blue {
      width: 100%;
      height: 0.333rem;
      margin: 0.333rem -0.666rem 0.333rem;
      background-color: #00d4d4; }
    @media (max-width: 420px) {
      .hero__menu {
        display: none; } }
  @media (max-width: 420px) {
    .hero__navigation--desc {
      display: none; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff; }
  .menu__item {
    font-size: 14px;
    line-height: 1.25;
    padding: 0 2.3666em;
    text-transform: uppercase; }
    @media (min-width: 400px) {
      .menu__item {
        font-size: 30px;
        font-size: calc( 0.01053 * 100vw + 9.78947px); } }
    @media (min-width: 1920px) {
      .menu__item {
        font-size: 30px; } }

.btn {
  font-size: 12px;
  padding: 0.83333em 1.1333em; }
  @media (min-width: 420px) {
    .btn {
      font-size: 20px;
      font-size: calc( 0.012 * 100vw + 6.96px); } }
  @media (min-width: 1920px) {
    .btn {
      font-size: 30px; } }
  .btn__hero {
    background-color: #000; }

/*# sourceMappingURL=main.css.map */