.hero {
    background-image:  url(../../img/hero__pancake.png), url(../../img/ero__bg.png);
    background-repeat: no-repeat;
    background-size:  27% auto, auto;
    background-position: left 87%, center center;
    @include bp(768px) {
        background-image: url(../../img/ero__bg.png);
        background-size: 100%;
        background-position: center top;
      }
    @include bp(480px) {
        background-image: url(../../img/hero__bg-mob.png);
      }
    &__title {
max-width: 590px;
width: 100%;
margin:  0 auto;
padding: 0.53em 0 0.65em;
@include bp(768px) {
    max-width: 315px;
    width: 100%;
    display: none;
  }
    }
    &__block { 
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10rem;
        &-img { 
            flex: 0 1 50%;
            position: relative;
            max-width: 716px;
            @include bp(768px) {
                max-width: 268px;
                margin-left: 0.611rem;
              }
              @include bp(480px) {
                max-width: 211px;
                margin-left: 0.611rem;
                margin-top: -5px;
              }
        }
        @include bp(768px) {
            margin-left: 0;
            justify-content: flex-start;
          }
    }
}
.sale {
    position: absolute;
    right: -11%;
    @include bp(768px) {
        left: 0;
        right: 11%;
        bottom: -104%;
        z-index: 3;
      }
}

.sale-footer {
    display: none;
    @include bp(785px) {
        display: block;
    position: absolute;
    right: -11%;
    bottom: -103%;
    left: 0;
    }
}

.hero__title-mob {
    display: none;
    background: $bg-price;
    color: $text-wt;
    @include bp(768px) {
        display: block;
        padding: 1rem 0;
      }
}
.promo-mob {
    display: none;
    @include bp (768px) {
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 491px;
        width: 100%;
        border-radius: 8px;
        align-self: center;
        max-width: 100%;
background-color: transparent;
padding-top: 2rem;
      }
}

.promo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $text-wt;
    max-width: 491px;
    width: 100%;
    border-radius: 8px;
    align-self: center;
    @include bp (768px) {
max-width: 100%;
margin-top: 12rem;
      }
      @include bp (480px) {
        margin-top: 9rem;
              }
}
.promo {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $text-wt;
    max-width: 491px;
    border-radius: 8px;
    align-self: center;
    @include bp (768px) {
        display: none;
max-width: 100%;
background-color: transparent;
      }
    &__smile {  
max-width: 260px;
width: 100%;
margin: 0 auto;
}
}
.smile-img { 
    width: 37px;
    height: 37px;
    }

    .smile__box {
        margin-top:22px; 
        @include bp (768px) {
            margin-top:-25px; 
          }
    }
    .promo__smile + .promo__smile {
        margin-top: 8px;
    }

    
.promo__box {
    width: 100%;
    display: flex;
    margin: 18px 0;
    font-family: $ff2;
    @include bp (768px) {
        margin: 18px 0;
              }
    &-before {  
flex:  0 1 42%;
padding: 21px 0;
@include bp(768px) {
    padding: 21px  0 21px 2.111rem;
    flex:  0 1 50%;
  }
    }
    &-after {  
        flex:  0 1 58%;
        background: $bg-price;
        padding: 21px 0;
        clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 100%, 15% 50%);
        @include bp(768px) {
            padding: 21px  2.111rem 21px 0;
            flex:  0 1 50%;
          }
    }
}

.before-textsmall {
    @include fFS(16px, 18px, 490px, 600px, 18px);
font-weight: 500;

}

.before-textBig {
    @include fFS(24px, 38px, 490px, 600px, 38px);
    font-weight: 700;
text-decoration: line-through;
}

.after-textsmall {
    @include fFS(16px, 18px, 490px, 600px, 18px);
font-weight: 700;
color: $text-wt;
}

.after-textBig {
    @include fFS(24px, 38px, 490px, 600px, 38px);
    font-weight: 700;
    color: $text-wt;
}
.promo__box-inner {
    margin-left: 35px;
}

.btn__box {
    display: inline-block;
    font-family: $ff2;
    background: $bg-button;
    padding: 0.518em 2.925em;
    margin-bottom: 18px;
    max-width: 369px;
    width: 100%;
    border-radius: 15px;
    @include bp (768px) {
        padding: 0.518em 1.925em;
        width: 93%;
              }
}

.counter__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg-counter;
    border-radius: 8px;
    padding: 8px 0;
}

.counter__text {
    margin: 0 7px;
}

.counter__tablo {
    color: $color-counter;
    background-color: $text-wt;
    font-weight: 700;
    font-size: 27px;
    line-height: 38px;
    padding: 4px 4px;
    border-radius: 4px;
}


.video {
    background-image: url(../../img/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 -111px;
    margin-top: -111px;
    margin-bottom: 2.388rem;
    @include bp(768px) {
        background-image: url(../../img/video-mob.png);
        margin: -3rem 0 1.388rem;
      }
    &__inner {  
        padding: 12.333rem 0 6.277rem;
        display: flex;
        justify-content: center;
        @include bp(768px) {
            padding: 0 0 3.277rem;
          }
        img {
            width: 56%;
            @include bp(768px) {
                width: 100%;
                margin-top: 35px;
              }
        }
    }
}


.holiday {
    margin-bottom: 1.111rem;
    &__img { 
        &-desc { 
            display: block;
            width: 100%;
            @include bp (768px) {
                display: none;
                      }
            
        }
&-mob { 
    display: none;
    width: 100%;
    @include bp (768px) {
        display: block;
        margin-bottom: 0.621rem
              }
        }
    }
    &__title { 
        max-width: 454px;
        margin-left: auto;
        margin-bottom: 0.651em;
        @include bp (768px) {
        max-width: 278px;
        margin: 0 auto 0.651em;
                  }
    }
    &__subtitle { 
        max-width: 546px;
        margin-left: auto;
        margin-bottom: 2em;
    }
}

.holiday__heart-img--desc {
    display: block;
    max-width: 417px;
    width: 100%;
    margin: 0 auto;
    max-height: 342px;
    @include bp (768px) {
        display: none;
              }
}

.holiday__heart-img--mob {
    display: none;
    max-width: 304px;
    width: 100%;
    max-height: 218px;
    margin: 0 auto;
    @include bp (768px) {
        display: block;
              }
}
.holiday__smile-img {
max-width: 142px;
margin-top: 38.5px;
width: 100%;
max-height: 142px;
margin-bottom: -26px;
@include bp (768px) {
display: block;
max-width: 89px;
max-height: 89px;
margin-top: 0;
          }
          
}
.holiday__inner {
    // max-width: 546px;
    width: 100%;
}

.instruction {
    background-image: url(../../img/instruction__bg-dev.png);
    background-repeat: no-repeat;
    background-size: 47% 100%;
    background-position: right center;
    padding-bottom: 3.126rem;
    margin-bottom: 5.166rem;
   @include bp(768px) {
    background-image: url(../../img/instruction__bg-mob.png);
        background-position: bottom;
        background-size: 100% 100%;
        margin-bottom: 5.166rem;
      }
}

.instruction__box {
    text-align: center;
    img {
        @include bp(768px) {
    width: 111px;
    height: 111px;
              }
    }
}
.instruction__box +  .instruction__box {
   margin-top: 1.737rem;
}
.instruction__title {
    max-width: 412px;
    width: 100%;
    margin: 0 auto 1.534em;
    z-index: 1;
    @include bp(768px) {
        margin: 0 auto;
                  }
}
.instruction__smile {
    position: absolute;
    left: 37rem;
    top: -102px;
    z-index: -1;
    @include bp(1700px) {
        left: 26rem;
                  }
@include bp(785px) {
    left: 5.5rem;
    top: -3rem;
    width: 88px;
    height: 88px;
              }
              @include bp(480px) {
                left: 0.5rem;
    top: -4rem;
    width: 88px;
    height: 88px;
                          }
}

.smile__content {
    position: relative;
    &-instruction {
        margin-top: 3rem;
    }
}
.smile__description {
    position: absolute;
    position: absolute;
    top: -119%;
    left: 22%;
    z-index: -1;
    width: 131px;
    height: 131px;
    @include bp(785px) {
        top: -3rem;
        left: -25px;
        width: 88px;
        height: 88px;
                  }
                  @include bp(480px) {
                    top: -4rem;
                    left: -30px;
                              }
}
.smile__review {
    position: absolute;
    right: 20%;
    top: -83px;
    z-index: -1;
    @include bp(785px) {
        width: 88px;
    height: 88px;
    left: -2rem;
    top: -54px;
                  }
                  @include bp(480px) {
                    left: 2rem;
    top: -54px;
                              }
}

.smile__order {
position: absolute;
top: -211%;
    left: 30%;
    z-index: -1;
    @include bp(785px) {
        width: 88px;
        height: 88px;
        left: 0;
        top: -67px;
                  }
}

.params {
    &__value {  
font-size: 1rem;
line-height: 2rem;
font-weight: 400;
    }
    &__name {
color: $param-name;
    }
    &__btn {
        @include bp (768px) {
         display: none;
                  }
            }
}
.params__value-uppercase {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem
}
.params__value-medium {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem
}
.description {
    margin-bottom: 0.444rem;
    &__title {  
        max-width: 592px;
        margin: 0  auto 0.953em;
        text-transform: uppercase;
    }
}

.description__image-desc {
    max-width: 623px;
    width: 100%;
    margin-top: -6.55rem;
    @include bp (768px) {
        margin-top: 0;
              }
}

.fit {
    background-image: url(../../img/fit__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0 12.72rem;
    &__title {
margin: 0 auto;
margin-bottom: 1.722rem;
@include bp (768px) {
    display: none;
          }
    }
    &__box {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.69), rgba(255, 255, 255, 0.69));
backdrop-filter: blur(36px);
margin: 0 auto;
padding: 1.722rem 0;
max-width: 848px;
width: 100%;

    }
    &__inner {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
@include bp (768px) {
width: 100%;
flex-direction: column;
          }
+ .fit__inner {
margin-top: 2rem;
@include bp (768px) {
    margin-top: 1.333rem;
              }
}
    }
    &__icons {
max-width: 183px;
text-align: center;
width: 100%;
@include bp (768px) {
    max-width: 220px;
              }
+ .fit__icons {
    margin-left: 2.222rem;
    @include bp (768px) {
        margin-left: 0;
        margin-top: 1.333rem;
                  }
}
img {
    width: 94px;
    max-width: 100%;
    height: 94px;
}
    }
}

.review {
    margin-bottom: 5.611rem;
    @include bp (480px) {
        margin-top: -7rem;
        margin-bottom:2rem;
                  }
                          
    &__title {
     max-width: 578px;
     margin: 0 auto 2rem;
     @include bp (480px) {
        max-width: 304px;
                  }
    
        }
    &__box {
    @include flex-between;

    }
    &__img {
        width: 100%;
    height: 266px;
    margin-bottom: 1.222rem;
    &-like {
        height: 217px;
    }
        }
    &__user {
        padding-left: 0.833rem;
        margin-bottom: 0.777rem;
        display: flex;
        align-items: center;
        img {
        width: 41px;
        height: 41px;
        border-radius: 100%;
        margin-right: 0.666rem;
        }
        &-name {
            max-width: 110px;
            -webkit-filter: blur(6px);
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="6" /></filter></svg>#filter');
            filter: blur(6px); 
                    }
        }
        &__like {
font-size: 1.166rem;
font-weight: 700;
line-height: 1.333rem;
@include bp (480px) {
   margin: 0 0.888rem;
              }

        }
        &__text {
            @include bp (480px) {
               margin: 0 0.888rem;
                          }
            
                    }
        &__name { 
            -webkit-filter: blur(6px);
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="6" /></filter></svg>#filter');
            filter: blur(6px); 
        }
}

.review__content + .review__content {
    margin-top: 0.5rem;
}
.order {
    background-image: url(../../img/order__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include bp (768px) {
        margin-top: 5rem;
                  }
    &__container {
padding-bottom: 2.944rem;
    }
    &__title {
        max-width: 293px;
        margin:  0 auto 2rem;
    }
    &__box {
        max-width: 565px;
        margin:  0 auto;
        @include bp (768px) {
            max-width: 100%;
                      }
    }
    &__content {
       width: 100%;
       display: flex;
       align-items: center;
       + .order__content {
           margin-top: 0.611rem;
       }
    }
    &__img {
        margin-right: 0.555rem;
        width: 55px;
height: 55px;
@include bp (768px) {
    flex: 0 1 20%;
              }
        img {
width: 55px;
height: 55px;
        }
    }
    &__text {
        @include bp (768px) {
            flex: 0 1 80%;
                      }
    }
}

.hero__block-footer {
    width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10rem;
    @include bp(768px) {
        margin-left: 0;
        padding-bottom: 0;
        margin-left: 0;
        justify-content: flex-start;
      }  
      @include bp(480px) {
      
      }
}

.hero-footer {
    background-image: url(../../img/hero__pancake.png), url(../../img/ero__bg.png);
    background-repeat: no-repeat;
    background-size: 27% auto, auto;
    background-position: left bottom, center top;
    @include bp(768px) {
        background-image: url(../../img/ero__bg.png);
        background-size: 100%;
        background-position: center top;
      }
    @include bp(480px) {
        background-image: url(../../img/hero__bg-mob.png);
        background-size: 100%;
        background-position: center top;
      }
    }
    footer {
        margin-bottom: 1rem;
    }