.hero {
    background-image: url(../../img/ero__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include bp(480px) {
        background-image: url(../../img/hero__bg-mob.png);
        background-size: 100%;
    background-position: center top;
      }
    &__title {
max-width: 590px;
width: 100%;
margin:  0 auto;
padding: 0.53em 0 0.65em;
@include bp(480px) {
    max-width: 315px;
    width: 100%;
  }
    }
    &__block { 
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10rem;
        margin-left: 8.777rem;
        &-img { 
            max-width: 624px;
            @include bp(480px) {
                max-width: 268px;
                margin-left: 0.611rem;
              }
        }
        @include bp(768px) {
            margin-left: 0;
          }
    }
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $text-wt;
    max-width: 491px;
    width: 100%;
    border-radius: 8px;
    align-self: center;
    @include bp (768px) {
max-width: 100%;
      }
    &__smile {  
max-width: 260px;
width: 100%;
margin: 0 auto;
}
}
.smile-img { 
    width: 37px;
    height: 37px;
    }

    .smile__box {
        margin-top:14.24px; 
    }
    .promo__smile + .promo__smile {
        margin-top: 8px;
    }

    
.promo__box {
    width: 100%;
    display: flex;
    margin: 18px 0;
    font-family: $ff2;
    @include bp (768px) {
        margin: 18px 0;
              }
    &-before {  
flex:  0 1 42%;
padding: 21px 0;
@include bp(768px) {
    padding: 21px  0 21px 2.111rem;
    flex:  0 1 50%;
  }
    }
    &-after {  
        flex:  0 1 58%;
        background: $bg-price;
        padding: 21px 0;
        clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 100%, 15% 50%);
        @include bp(768px) {
            padding: 21px  2.111rem 21px 0;
            flex:  0 1 50%;
          }
    }
}

.before-textsmall {
    @include fFS(16px, 18px, 490px, 600px, 18px);
font-weight: 500;
text-align: start;
}

.before-textBig {
    @include fFS(24px, 38px, 490px, 600px, 38px);
    font-weight: 700;
    text-align: start;
}

.after-textsmall {
    @include fFS(16px, 18px, 490px, 600px, 18px);
font-weight: 700;
color: $text-wt;
}

.after-textBig {
    @include fFS(24px, 38px, 490px, 600px, 38px);
    font-weight: 700;
    color: $text-wt;
}
.promo__box-inner {
    margin-left: 35px;
}

.btn__box {
    display: inline-block;
    font-family: $ff2;
    background: $bg-button;
    padding: 0.518em 2.925em;
    margin-bottom: 18px;
    max-width: 369px;
    width: 100%;
    border-radius: 15px;
}

.counter__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg-counter;
    border-radius: 8px;
    padding: 8px 0;
}

.counter__text {
    margin: 0 7px;
}

.counter__tablo {
    color: $color-counter;
    background-color: $text-wt;
    font-weight: 700;
    font-size: 27px;
    line-height: 38px;
    padding: 4px 4px;
    border-radius: 4px;
}


.video {
    background-image: url(../../img/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: -111px;
    margin-top: -111px;
    margin-bottom: 2.388rem;
    &__inner {  
        padding: 12.333rem 0 6.277rem;
        display: flex;
        justify-content: center;
    }
}


.holiday {
    &__img { 
        &-desc { 
            display: block;
            width: 100%;
            @include bp (768px) {
                display: none;
                      }
            
        }
&-mob { 
    display: none;
    width: 100%;
    @include bp (768px) {
        display: block;
        margin-bottom: 0.621rem
              }
        }
    }
    &__title { 
        max-width: 454px;
        margin-left: auto;
        margin-bottom: 0.651em;
    }
    &__subtitle { 
        max-width: 546px;
        margin-left: auto;
        margin-bottom: 2em;
    }
}

.holiday__heart-img--desc {
    display: block;
    max-width: 417px;
    width: 100%;
    margin: 0 auto;
    max-height: 342px;
    @include bp (768px) {
        display: none;
              }
}

.holiday__heart-img--mob {
    display: none;
    max-width: 304px;
    width: 100%;
    max-height: 218px;
    @include bp (768px) {
        display: block;
              }
}
.holiday__smile-img {
max-width: 142px;
margin-top: 38.5px;
width: 100%;
max-height: 142px;
margin-bottom: -26px;
@include bp (768px) {
display: block;
max-width: 89px;
max-height: 89px;
          }
}
.holiday__inner {
    max-width: 546px;
    
}

