html {
    font-family: $ff;
     color: $text;
    @include fFS(18px, 18x, 480px, 1920px, 18px);
     line-height: 1,2;
    }
    
    body {
     display: flex;
     flex-direction: column;
     position: relative;
    }
    
    .wrapper {
     position: relative;
     min-width: 320px;
     min-height: 100vh;
     flex-grow: 1;
     overflow: hidden;
    }
    
    .footer {
     flex-grow: 0;
    }
    
    a {
     display: inline-block;
     vertical-align: middle;
    }
    
    .container {
      position: relative;
      min-width: 320px;
      margin: 0 auto;
      padding: 0 17.24%;
      z-index: 1;
      @include bp(420px) {
        padding: 0 2.111rem;
      }
    }
 
    
    img {
    display: inline-block;
    max-width: 100%;
    }

    
    /*helpers*/
    
    .center {
     text-align: center;
    }
    
   
    
    /*typografy*/
    .section__title {
      @include fFS(23px, 43px, 490px, 600px, 43px);
      font-weight: 700;
      line-height: 1.046em;
      @include bp(480px) {
        color: $text-wt;
      }
    }
  
    .section__subtitle {
      @include fFS(18px, 18px, 480px, 1920px, 18px);
      font-weight: 700;
      line-height: 1.22em;
    }
    .instruction__text {
      font-weight: 400;
      @include fFS(18px, 18px, 480px, 1920px, 18px);
      @include bp(480px) {
        color: $text-wt;
        font-weight: 700;
      }
    }
     .reviews__text {
      @include fFS(21px, 21px, 480px, 1920px, 21px);
      font-weight: 400;
    }
    .btn__text {
      @include fFS(27px, 27px, 480px, 1920px, 27px);
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      color: $text-wt;
      line-height: 1em;
    }
    .counter__text {
      @include fFS(18px, 18px, 480px, 1920px, 18px);
      font-weight: 700;
      color: $color-counter-text;
      line-height: 1.333em;
    }
    .price__before-text {
      @include fFS(38px, 38px, 480px, 1920px, 38px);
      font-weight: 500;
      color: $text;
      line-height: 1em;
    }

    .price__after-text {
      @include fFS(38px, 38px, 480px, 1920px, 38px);
      font-weight: 700;
      color: $text-wt;
      line-height: 1em;
    }
    .smile__text {
      @include fFS(18px, 18px, 480px, 1920px, 18px);
      font-weight: 400;
      color: $text;
      line-height: 1.333em;
      display: inline-block;
    }
 
    
    .row {
      @include flex;
      &--rewerse {
        flex-direction: row-reverse;
        @include bp(480px) {
          flex-direction: row;
        }
      }
    }
    
    .col {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 1 50%;
         @include bp(768px) {
        flex: 1 1 100% !important;
        min-height: auto;
      }
      &-right {
        margin-left: auto;
       @include bp(480px) {
          margin: 0 auto;
        }  
      }
      &-left {
        margin-right: auto;
        @include bp(480px) {
          margin: 0 auto;
        }
      }
      &--pic {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        @include bp(480px) {
          position: relative;
          margin-bottom: 30px;
        }
        img {
          display: block;
          margin: 0 auto;
          height: 100%;
          object-fit: contain;
         @include bp(480px) { 
           height: auto;
         }
        }
        &.left {
          margin-right: auto;
          right: 108%;
          @include bp(480px) {
          right: auto;
        }
        }
        &.right {
          margin-left: auto;
          left: 108%;
          @include bp(480px) {
          left: auto;
        }
        }
      }
     &-50 {
       display: flex;
       align-items: center;
       flex: 0 1 50%;
       @include bp(480px) {
        flex: 1 1 100% !important;
        flex-wrap: wrap;
        min-height: auto;
      }
     }
     &-60 {
       flex: 0 1 60%;
     }
    }


    