html {
    font-family: $ff;
     color: $text;
    @include fFS(18px, 18x, 480px, 1920px, 18px);
     line-height: 1,2;
    }
    
    body {
     display: flex;
     flex-direction: column;
     position: relative;
    }
    
    .wrapper {
     position: relative;
     min-width: 320px;
     min-height: 100vh;
     flex-grow: 1;
     overflow: hidden;
    }
    
    .footer {
     flex-grow: 0;
    }
    
    a {
     display: inline-block;
     vertical-align: middle;
    }
    
    .container {
      position: relative;
      margin: 0 auto;
      max-width: 1285px;
      z-index: 1;
      @include bp(768px) {
        padding: 0 2.111rem;
        max-width: 500px;
      }
      @include bp(480px) {
        max-width: 1285px;
      }
    }

    .container__footer {
      display: flex;
      justify-content: space-between;
      
    }
 .container-desc {
  position: relative;
  margin: 0 auto;
  max-width: 1285px;
  z-index: 1;
  @include bp(768px) {
    padding: 0 2.111rem;
    max-width: 500px;
  }
  @include bp(480px) {
    max-width: 100%;
  }
 }
    
    img {
    display: inline-block;
    max-width: 100%;
    }

    
    /*helpers*/
    
    .center {
     text-align: center;
    }
    
   
    
    /*typografy*/
    .section__title-head {
      @include fFS(23px, 43px, 490px, 600px, 43px);
      font-weight: 700;
      line-height: 1.046em;
      text-transform: uppercase;
      @include bp(480px) {
        color: $text-wt;
        background: $bg-price;
      }
    }

    .section__title {
      @include fFS(23px, 43px, 490px, 600px, 43px);
      font-weight: 700;
      line-height: 1.046em;
      @include bp(480px) {
        text-align: center;
      }
    }
  
    .section__subtitle {
      @include fFS(18px, 18px, 480px, 1920px, 18px);
      font-weight: 700;
      line-height: 1.22em;
      @include bp(768px) {
        text-align: center;
      }
    }
    .instruction__text {
      font-weight: 400;
      text-align: center;
      @include fFS(18px, 18px, 480px, 1920px, 18px);
      @include bp(768px) {
        color: $text-wt;
        font-weight: 700;
      }
    }
     .reviews__text {
      @include fFS(21px, 21px, 480px, 1920px, 21px);
      font-weight: 400;
    }
    .btn__text {
      @include fFS(27px, 27px, 480px, 1920px, 27px);
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      color: $text-wt;
      line-height: 1em;
    }
    .counter__text {
      @include fFS(18px, 18px, 480px, 1920px, 18px);
      font-weight: 700;
      color: $color-counter-text;
      line-height: 1.333em;
      @include bp (370px) {
        font-size: 17px;
              }
    }
    .price__before-text {
      @include fFS(38px, 38px, 480px, 1920px, 38px);
      font-weight: 500;
      color: $text;
      line-height: 1em;
    }

    .price__after-text {
      @include fFS(38px, 38px, 480px, 1920px, 38px);
      font-weight: 700;
      color: $text-wt;
      line-height: 1em;
    }
    .smile__text {
      @include fFS(18px, 18px, 480px, 1920px, 18px);
      font-weight: 400;
      color: $text;
      line-height: 1.333em;
      display: inline-block;
    }
 
    
    .row {
      @include flex;
      &--rewerse {
        flex-direction: row-reverse;
        @include bp(480px) {
          flex-direction: row;
        }
      }
    }
    .row-footer {
     display: flex;
     flex-wrap: wrap;
justify-content: space-between;
      &--rewerse {
        flex-direction: row-reverse;
        @include bp(480px) {
          flex-direction: row;
        }
      }
    }
    
    .col {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 1;
      flex: 0 1 50%;
         @include bp(768px) {
        flex: 1 1 100%;
        min-height: auto;
        width: 100%;
      }
      &-33 {
        flex: 0 1 33.333%;
        
        @include bp(768px) {
         flex: 1 1 20% !important;
         flex-wrap: wrap;
         min-height: auto;
       }
       @include bp(480px) {
        flex: 1 1 100% !important;
        flex-wrap: wrap;
        min-height: auto;
      }
      }
      &-30 {
        flex: 0 1 30%;
        
        @include bp(768px) {
         flex: 1 1 100% !important;
         flex-wrap: wrap;
         min-height: auto;
       }
  
      }
   
       
        
     &-40 {
       display: flex;
margin-left: 2%;
       flex: 0 1 45%;
       @include bp(768px) {
        margin-left: 0;
        flex: 1 1 100% !important;
        flex-wrap: wrap;
        min-height: auto;
      }
     }
     &-60 {
       flex: 0 1 53%;
       
       @include bp(768px) {
        flex: 1 1 100% !important;
        flex-wrap: wrap;
        min-height: auto;
      }
     }
     &-instruction {
      display: flex;
      flex-wrap: wrap;
justify-content: center;
       flex: 0 1 53%;
       
       @include bp(768px) {
        flex: 1 1 100% !important;
        flex-wrap: wrap;
        min-height: auto;
      }
     }
    }

  

    