$container: 1920px;

$fz: 112,5%;
$ff: 'Roboto', sans-serif;
$ff2: "Gilroy", sans-serif;



$text: #000;
$section-border: #5a5a5a;
$param-name: #848484;
$text-wt: #fff;
$color-counter: #ff0000;
$color-counter-text: #a62900;
$text-footer: #005cb0;
$bg-button: linear-gradient(270.06deg, #F0028E 29.42%, #782C76 96.84%);
$bg-price: linear-gradient(270deg, #009959 0%, #05FF00 122.54%);
$bg-counter: linear-gradient(360deg, #FFF59A 0%, #FFCA28 100%);