$container: 1920px;

$fz: 150%;
$ff: 'Rubik', sans-serif;
$ff2: 'Exo 2', sans-serif;


$text: #000;
$section-border: #5a5a5a;
$text-wt: #fff;
$color-blue: #00d4d4;
$dark: #000;
$text--pink: #E9265D;
$title: #CC6759;
$bg-button: linear-gradient(to left, #FFFFFF -18.84%, #FFEB36 10.2%, #FF0041 81.56%, #FF00E5 128.47%);

$bg-section-work: linear-gradient(108.17deg, #1752DB 0%, #07308F 100%);