.smile__content-instruction {
    padding: 5rem 0 2.534em;
    background-image: url(../../img/instruction__smile.svg);
    background-repeat: no-repeat;
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    @include bp (768px) {
        background-size: 81px 81px;
        padding: 3.7rem 0 0;
                }
}

.smile__content__description {
    padding: 5rem 0 0;
    max-width: 712px;
    margin:  0 auto;
    background-image: url(../../img/description__smile.svg);
    background-repeat: no-repeat;
    @include bp (768px) {
        background-size: 81px 81px;
        padding: 3.7rem 0 0;
                }
}

.smile__content__review {
    padding: 5rem 0 0;
    max-width: 712px;
    margin:  0 auto;
    background-image: url(../../img/review__smile.svg);
    background-repeat: no-repeat;
    background-position: right;
    @include bp (500px) {
        background-position: left;
        background-size: 81px 81px;
        max-width: 240px;
                }
}

.smile__content__order {
    padding: 5rem 0 0;
    max-width: 486px;
    margin:  0 auto;
    background-image: url(../../img/order__smile.svg);
    background-repeat: no-repeat;

    @include bp (768px) {

        background-size: 81px 81px;
        padding: 3.7rem 0 0;
 
                }
}
